generate.py
# Ignore all contents of the datasets directory
datasets/

# Ignore all contents of the models directory
models/
__pycache__/train_selector.cpython-39.pyc
utils/__pycache__/selector_network.cpython-39.pyc
utils/__pycache__/watermark_utils.cpython-39.pyc
__pycache__/watermark.cpython-39.pyc
utils/__pycache__/generation_util.cpython-39.pyc
eval/eval_record
*.png
*.pyc